<%- include ('partials/header.ejs') %>

<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarpergunta">
          <label>Título</label>
          <input
            type="text"
            placeholder="Título"
            name="titulo"
            class="form-control"
          />
          <br /><label>Descrição</label>
          <textarea
            placeholder="Descreva sua pergunra aqui"
            name="descricao"
            class="form-control"
          ></textarea>
          <br />
          <button class="btn btn-primary">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include ('partials/footer.ejs') %>
